/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

/* Define CSS variables */
:root {
  --primary-color: #e54b4b; 
  --secondary-color: #1e1e24;
  --accent1-color: #ffa987;
  --accent2-color: #444140;

  --heading-font: 'Poetsen One', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;

  --nav-background-color: #f7ebe8;
  --nav-link-color: #e54b4b;
  --nav-hover-link-color: #1e1e24;
  --nav-hover-background-color: #ffa987;
}

/* Style the body */
body {
  font-family: var(--paragraph-font); 
  max-width: 960px; 
  padding: 20px;
}

/* All headings (h1 to h6) */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* Style the header */
header {
  padding: 20px; 
  background-color: var(--accent1-color);
}

/* Style the paragraph */
p {
  padding: 25px;
}

/* Style the callout paragraph */
p.callout {
    padding: 20px;
    background-color: var(--accent2-color);
    color: #f7ebe8;
    margin: 20px 0;
  }
/* Style the navigation element */
nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

/* Style the anchor elements inside */
nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

/* visited links have the same color as unvisited links */
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

/* Style for hovered navigation links */
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

/* Subscribe Thank You Section */
.subscribe-thank-you {
  display: none;
  text-align: center;
  padding: 50px 0;
  background-color: #fff;
}

.subscribe-thank-you h2 {
  margin-bottom: 20px;
}

.subscribe-thank-you p {
  font-size: 1.2rem;
  color: var(--second-color);
}